body, div, h1, h2, h3 {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  /* font-family: sans-serif; */
  font-family: 'Crimson Text', serif;
}

body {
  background-color: #F28482;
}

#loginPage {
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

#signUp, #userLogin, #storeLogin {

  height: 200px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  border: 4px solid #A4036F;
  justify-content: space-around;
  margin-bottom: 20px;
  border-radius: 10px;
}

#signUp {
  width: 60%;
  margin-top: 20px;
  background-color: #C0DF85;
}

#userLogin, #storeLogin {
  width: 45%;
  background-color: #F6BD60;
}

#signUp h2, #userLogin h2, #storeLogin h2 {
  width: 100%;
  display: block;
  text-align: center;
  color: #A4036F;
  font-size: 20pt;
}

#signUp input, #userLogin input, #storeLogin input {
  width: 33%;
  max-width: 200px;
  display: inline-block;
  border: 2px solid #A4036F;
  border-radius: 4px;
  background-color: white;
  height: 30px;
  font-size: 15px;
}

#signUp button, #userLogin button, #storeLogin button {
  width: 90px;
  height: 35px;
  color: #A4036F;
  border: 2px solid #A4036F;
  border-radius: 4px;
  background-color: white;
  font-size: 15px;
}


h1, h2, h3 {
  text-align: center;
}

#AddPointsBox {
  padding: 20px;
  /* border: 4px solid #A4036F; */
  background-color: #F6BD60;
  margin: 40px 150px 40px 150px;
  padding: 30px;
  border: solid 2px #A4036F;
}

#searchBar {
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

#addPointsBoxPhone {
  height: 30px; 
  width: 200px;
  border: solid 2px #A4036F;
  border-radius: 5px;
  font-size: inherit;
}

#searchBar button {
  width: 90px;
  height: 40px;
  color: #A4036F;
  border: 2px solid #A4036F;
  border-radius: 4px;
  background-color: white;
  font-size: 20px;
}
#storePage h1 {
  color: #7DDF64;
  font-size: 60px;
  margin-bottom: 35px;
  margin-top: 40px;
}

#stampCards {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

#userPage {
  text-align: center;
  margin-top: 60px;
  text-transform: capitalize;
}

#addCard {
  padding: 12px 20px;
  font-size: 16px;
  margin-bottom: 30px;
  border-radius: 3px;
  border-color: #A4036F;
}

#addMe {
  margin-bottom: 40px;
}

#addMe button {
  padding: 12px 16px;
  font-size: 16px;
  border-radius: 3px;
}

.stampCard {
  display: flex;
  flex-flow: row wrap;
  width: 30%;
  margin: 0 auto;
  border: solid 2px #A4036F;
  color: #A4036F;
  background-color: #F6BD60;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 5px;
}

#idCard {
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.stampCard h3 {
  width: 100%;
}

.stamped, .noStamp {
  width: 20%;
  text-align: center;
}

#addMe button {
  display: block;
  margin: 0 auto;
  /* border-color: #A4036F; */
  border: solid #A4036F 2px;
}

#userPage h1 {
  margin-bottom: 35px;
  color: #7DDF64;
  font-size: 60px;
}

.logout {
  display: block;
  margin: 0 auto;
  padding: 12px 16px;
  font-size: 16px;
  border-radius: 3px;
  border: solid #A4036F 2px;
}

#loginPage h1 {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 5em;
  color: #7DDF64;
}

#AddPointsBox h3, #AddPointsBox h2 {
  color: #A4036F;
  font-size: 30px;
}


